<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Gibet41Entities" connectionString="metadata=res://*/Gibet41Model.csdl|res://*/Gibet41Model.ssdl|res://*/Gibet41Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-72PUJMKK;initial catalog=Gibet41;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>